@import url("/css/iosevkaaile.css");

:root {
    --bg-color: oklch(20% 0.0641 0.43deg);
    --text-color: oklch(60% 0.0641 168.8deg);
    --link-color: oklch(83.82% 0.1066 58.23deg);
    --h1-bg: oklch(45% 0 0deg);
    --h1-txt: oklch(80% 0 0deg);
    --h2-bg: oklch(55% 0 0deg);
    --h2-txt: oklch(100% 0 0deg);
    --hf-bg: oklch(30% 0 0deg);
}

html {
    font-size: 18pt;
    line-height:140%;
}

@media (width <= 768px) {
    html {
        font-size: 14pt;
    }
}

* {
    font-family: 'Iosevka Aile Web', system-ui, sans-serif;
}

body {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header *, footer * {
    background-color: var(--hf-bg);
    color: var(--text-color);
}

h1 {
    background-color: var(--h1-bg);
    color: var(--h1-txt);
}

a:link, a:visited, a:hover, a:active {
    color: var(--link-color);
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    line-height: 125%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main, article {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav {
    padding: 0.5rem 1rem;
}

header nav a {
    margin-right: 1rem;
}

header nav a:last-child {
    margin-right: 0;
}

p {
    padding: 0.5rem 1rem;
}

blockquote, blockquote p {
    padding-left: 2rem;
}

 .centre {
    text-align: center;
}

td, th {
    padding: 12pt;
    border-color: #fff;
    border-width: 2pt;
    border-style:solid;
}

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}



