@import url("/css/iosevkaaile.css");

:root {
    --bg-color: oklch(0.20 0.0641 0.43deg);
    --text-color: oklch(0.6 0.0641 168.8deg);
    --link-color: oklch(0.8382 0.1066 58.23deg);

    --h1-bg: oklch(45% 0 0deg);
    --h1-txt: oklch(80% 0 0deg);
    --h2-bg: oklch(55% 0 0deg);
    --h2-txt: oklch(100% 0 0deg);
    --hf-bg: oklch(30% 0 0deg);
}

html {
    font-size: 26pt;
    line-height:140%;
}

@media (width <= 768px) {
    html {
        font-size: 14pt;
    }
}

* {
    font-family: 'Iosevka Aile Web' !important;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    background-color: var(--h1-bg);
    color: var(--h1-txt);
    padding: 0.5rem 1rem;
}

h2 {
    padding: 0.5rem 1rem;
}

header *, footer * {
    background-color: var(--hf-bg);
    color: var(--text-color);
}

header nav {
    padding: 0.5rem 1rem;
}

header nav a {
    margin-right: 1rem;
}

header nav a:last-child {
    margin-right: 0;
}

p {
    padding: 0.5rem 1rem;
}

blockquote, blockquote p {
    padding-left: 2rem;
}

 .centre {
    text-align: center;
}

td, th {
    padding: 12pt;
    border-color: #fff;
    border-width: 2pt;
    border-style:solid;
}

a:link, a:visited, a:hover, a:active {
    color: var(--link-color);
    text-decoration: underline;
    font-weight: bold;
}


article.post, main, header {
    max-width: 60ch;      /* Keeps lines readable */
    margin: 0 auto;       /* Horizontal center */
    padding: 2rem 1rem;   /* Adds breathing room */
}
