@font-face {
    font-family: MyFont;
    src: url('/fonts/swedensans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: MyFontBold;
    src: url('/fonts/swedensansbold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: MyFontMono;
    src: url('/fonts/FantasqueSansMono-Regular.otf') format('opentype');
}

:root {
    --bg-color: oklch(100% 0 0);
    --text-color: oklch(0% 0 0);
    --h1-bg: oklch(55% 0.1 261.62);
    --h2-bg: oklch(80% 0 0);
    --hf-bg: oklch(90% 87.81 40);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: oklch(10% 0 0);
        --text-color: oklch(100% 0 0);
        --h1-bg: oklch(43.89% 0.1 261.62);
        --h2-bg: oklch(33% 0 0);
        --hf-bg: oklch(46.32% 87.81 40);
    }
}

html {
    font-size: 16pt;
}

@media (max-width: 768px) {
    html {
        font-size: 14pt;
    }
}

* {
    font-family: MyFont;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    background-color: var(--h1-bg);
    color: var(--text-color);
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h2 {
    background-color: var(--h2-bg);
    color: var(--text-color);
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header *, footer * {
    background-color: var(--hf-bg);
    color: var(--text-color);
}

p {
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

blockquote, blockquote p {
    /*white-space: pre;*/
    font-family: MyFontMono;
    padding-left: 2rem;
}

 .centre {
    text-align: center;
}

td, th {
    padding: 12pt;
    border-color: #fff;
    border-width: 2pt;
    border-style:solid;
}
