* {
    background-color: lch(10 0 0);
    color: lch(100 0 0);
}

h1 {
    background-color: lch(70% 39 180);
    color: lch(100 0 0);
    padding: 1pt;
}

header *, footer * {
    background-color:lch(46.32% 87.81 40);
    color: lch(100 0 0);
}